@import "tailwindcss";

@layer base {
  :root {
    --page-bg: #020617;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #6366f1 var(--page-bg);
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4f46e5;
  }

  /* Target specific containers if needed */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}
